body {
  max-width: 375px;
  margin: auto;
  background: #B5A99C;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.box-title {
  background: #EB6126;
  padding: 18px 48px 18px 48px;
}

main {
  background-image: url(../img/mur.jpg);
}

a {
  color: #94E241;
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EB6126;
}

.nav {
  background: #4C0634;
  color: #94E241;
  padding: 8px;
  font-size: 9px;
}

.card-info{
  background: #EB6126;
  color: #4C0634;
  margin: 24px;
  padding: 24px;
}

.card-info h2 {
  font-size: 48px;
}

.card-hourly {
  background: #4C0634;
  color: #94E241;
  margin: 24px;
  padding: 24px;
}

.card-hourly h2 {
  font-size: 24px;
}

p {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  margin: 0 0 48px 0;
}

footer {
  background: #4C0634;
  color: #94E241;
  text-align: center;
  padding: 24px;
  font-family: 'Exo 2', sans-serif;
}

.contenair-img {
  display: flex;
  flex-direction: row;
  width: 188px
}